<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
</head>
<body id="page-default">
  <header>
    <% include ../partials/header.ejs %>
  </header>
  <main class="container-fluid">
    <div class="container">
      <h2>Edit Comment #</h2>
      <form action="/comments/:key/edit" method="PUT" accept-charset="utf-8">
        <input type="text" placeholder="Username" name="Username">
        <input type="text" placeholder="Body" name="Body">
        <button type="submit">Submit</button>
      </form>
    </div>
  </main>
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>
  <div hidden>
    <% include ../partials/scripts.ejs %>
  </div>
</body>
</html>