<div class="footer-nav-wrapper">
  <nav class="navbar navbar-expand-sm footer-nav">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Posts-Comments demo app for Blockstore</p>
        </div>
        <div class="col-md-auto">
          <a class="footer-nav-link" href="https://github.com/FatihBAKIR/blockstore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a>
        </div>
      </div>
    </div>
  </nav>
</div>