<div class="footer-nav-wrapper">
  <nav class="navbar navbar-expand-sm footer-nav">
    <div class="container">
      <a href="/posts">Click here to view all Posts</a>
      <a href="/posts/new">Click here to create a Post</a>
      <div class="row">
        <div class="col">
          <p>Simple demo application for Blockstore</p>
        </div>
        <div class="col-md-auto">
          <a class="footer-nav-link" href="https://github.com/FatihBAKIR/blockstore" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
        </div>
      </div>
    </div>
  </nav>
</div>