<div class="nav-wrapper">
  <nav class="navbar navbar-expand-sm primary-nav">
    <div class="container">
      <h1><a href="/"><i class="fa fa-comments" aria-hidden="true"></i> Posts Demo App</a></h1>
    </div>
  </nav>
  <br>
</div>