<div class="nav-wrapper">
  <nav class="navbar navbar-expand-sm primary-nav">
    <div class="container">
      <h1><i class="fa fa-comments" aria-hidden="true"></i> Posts-Comments Demo App</h1>
    </div>
  </nav>
  <br>
</div>