<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body id="page-default">
  <header>
    <% include ./partials/header.ejs %>
  </header>
  <main class="container-fluid">
    <div class="container">
      <h2>Latest Posts</h2>
      
    </div>
  </main>
  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
  <div hidden>
    <% include ./partials/scripts.ejs %>
  </div>
</body>
</html>